@import "../colors.scss";
@import "../shared.scss";

.dates {
  display: flex;
  flex-direction: column;
  padding: 0px 30px 30px;
  section {
    flex-grow: 1; // l'elemento prendere piú spazio possibile, se c'é
    flex-shrink: 1; // l'elemento rimpicciolisce se necessario
    flex-basis: 0; // dimensione minima
    //Puó essere scritto come :
    //flex: 1 1 0;
    .single_date {
      text-align: center;
      font-weight: bold;
      padding: 20px;
      color: $accent;
      font-size: 20px;
      border: 1px solid rgba(0, 0, 0, 0.178);
      background-color: $white;
    }
  }

  @media (min-width: $mobile_breakpoint) {
    flex-direction: row;
    gap: 20px;
  }

  section {
    .single_date {
      margin-top: 20px;
      border-radius: 10px;
      width: auto;
    }
  }
}

.cards {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 20px;
}
