@import "../colors.scss";
@import "../shared.scss";

.header {
  height: 325px;
  margin-bottom: $spacing_medium;
  color: $lightGrey;
  background-color: #000000;
  position: relative;

  .background {
    height: 100%;
    width: 100%;
    background-image: url("../assets/images/bratislava.jpg");
    background-size: cover;
    background-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.5;
  }

  .content {
    padding: $spacing_medium;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  h2 {
    font-size: $font_small;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
  }

  h1 {
    font-family: "openSansBold";
    font-size: $font_huge;
    margin-bottom: 0;
    line-height: $font_huge;
    margin-top: 0;
    margin-bottom: 0;
    color: $lightGrey;
  }

  p {
    font-size: $font_medium;
  }
}
