@import "../colors.scss";

.title {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 30px;
  font-weight: bold;
  color: $accent;
}

.top_border {
  border-top-style: solid;
  border-color: $accent;
  margin-top: 10px;
  padding-top: 10px;
}

.details {
  font-weight: bold;
  color: #00000098;
}
