@import "../colors.scss";
@import "../shared.scss";

.title {
  display: flex;
  justify-content: flex-start;
  gap: $spacing_small;
  margin-bottom: $spacing_small;
  font-weight: bold;
  color: $accent;
  align-items: center;
}

.top_border {
  border-top-style: solid;
  border-color: $accent;
  margin-top: $spacing_small;
  padding-top: $spacing_small;
}

.details {
  font-weight: bold;
  color: $text_color;
}
