.title {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 30px;
  font-weight: bold;
  color: blueviolet;
}

.top_border {
  border-top-style: solid;
  border-color: blueviolet;
  margin-top: 10px;
  padding-top: 10px;
}
