@import "../colors.scss";
@import "../shared.scss";

.container {
  border-radius: 12px;
  box-shadow: $card_shadow;
  width: auto;
  height: auto;
  padding: $spacing_small;
  background-color: $primary;
}
