@import "../colors.scss";
@import "../shared.scss";

.container {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  width: auto;
  height: auto;
  padding: 20px;
  background-color: $primary;
}
