.icons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 30px;
}

button:hover,
button:active {
  cursor: pointer;
  background: #ac0e77;
  color: white;
}

button {
  border-radius: 20%;
  border: 1px solid #8b005d;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.selected {
  background-color: aqua;
}
