@import "../colors.scss";
@import "../shared.scss";

.icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 30px;

  @media (min-width: $mobile_breakpoint) {
    flex-direction: row;
  }
}

button {
  border-radius: 20%;
  border: 1px solid $tertiary;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,   // con & referenzio il livello immediatamente superiore
  &:active {
    background-color: $secondary;
    cursor: pointer;
  }

  &.selected {
    cursor: pointer;
    background-color: $accent;
    svg {
      fill: $lightGrey;
    }
  }
}

.buttons {
  display: flex;
  gap: 15px;
}
